.nav-menu
{ 
    display: flex;
    padding-left: 20px;
    width: 200px;
    border-bottom:2px solid  rgb(21, 168, 191);
    height: 30px;
    

}
.nav-items
{
    list-style-type:none;
    padding-right: 20px;
    position: relative;
    height:58px;
}
.departement-items
{
    position: absolute;
    display: none;
    margin-top: 10px;
    width: 150px;
    height: auto;
    border: 2px solid rgb(21, 168, 191);
    background-color: white;   
}
.nav-items:hover
{
  color:  rgb(21, 168, 191);
}
.nav-items:hover>.departement-items,.departement-items:hover
{
    display: flex;
    flex-direction: column;


}
.departement-item
{

    padding:10px 2px;    
    list-style-type:none;


}
